{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>We create web applications.</h1>
        <p><a class="btn btn-lg btn-success" href="mailto:info@sugarmade.nl" role="button">Contact us now</a></p>
    </div>
{% endblock %}
